* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #5A5A5D;
}

.width {
    width: 1170px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar start */
.navbar {
    padding: 3.125em 0 3.75em;
}

.logo h1 {
    color: #FF5400;
    font-size: 2.3em;
    font-weight: 800;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2em;
    font-weight: 400;
    margin-right: 2.75em;
}

.menu ul li:first-child>a {
    color: var(--primary-color);
    font-weight: 700;
}

.menu ul li:last-child>a {
    margin-right: 0;
}

.icon {
    display: none;
}

.icon ul li i {
    font-size: 1.56em;
}

/* navbar end */
/* banner start */
.banner {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    padding: 6.625em 0;
    border-radius: 1em;
    object-fit: contain;
}

.banner h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 18px;
}

.banner p {
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.625em;
    width: 50%;
    margin: auto;
}

.banner-filter {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: fit-content;
    padding: 1em;
    margin: auto;
    margin-top: 3em;
    display: flex;
}

.banner-filter input,
select {
    padding: 1em;
    width: 10.875em;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1em;
    font-weight: 400;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    margin-right: 24px;
}

.banner-filter button {
    padding: 1em;
    width: 10.875em;
    font-size: 1em;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #fff;
}

.banner-filter i {
    margin-right: 8px;
}

/* banner end */
/* Destination start */
.destination-section {
    padding: 100px 0;
}

.destination-content {
    text-align: center;
    width: 35%;
    margin: auto;
    margin-bottom: 48px;
}

.destination-content h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
}

.Destination {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.Destination img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.img-1 {
    grid-column: 1/span 6;
    position: relative;
}

.img-2 {
    grid-column: 7/span 6;
    position: relative;
}

.img-3 {
    grid-column: 1/span 4;
    position: relative;
}

.img-4 {
    grid-column: 5/span 5;
    position: relative;
}

.img-5 {
    grid-column: 10/span 3;
    position: relative;
}

.img-6 {
    grid-column: 1/span 5;
    position: relative;
}

.img-7 {
    grid-column: 6/span 7;
    position: relative;
}

.inner-text {
    position: absolute;
    top: 48%;
    left: 39%;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#left {
    left: 32%;
}

/* Destination end */
/* why choose us section start */
.why-choose-us {
    padding-bottom: 100px;
}

.upper-text {
    margin-bottom: 48px;
    text-align: center;
}

.upper-text h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.upper-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 50%;
    margin: auto;
}

.why-choose-us-div {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.child-div {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    width: 35%;
}

#div2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.child-div img {
    width: 64px;
    height: 64px;
}

.child-div h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 24px 0 16px;
}

.child-div p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* why choose us section end */
/* contact start */
.contact {
    padding-bottom: 100px;
}

.contact-box {
    /* width: 30%; */
    flex: 1;
    border-radius: 16px;
    border: 1px solid var(--primary-color);
    padding: 65px 40px;
    margin-right: 25px;
}

.contact-box h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.contact-box p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 90%;
    margin-bottom: 40px;
}

.contact-box input {
    width: calc(100% - 20px);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
    padding: 14px 10px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.contact-box input[type="submit"] {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 0px;
    border: none;
}

.contact-right-box {
    flex: 2;
    /* width: 75%; */
}

.contact-right-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contact end */
/* popular-tour start */
.popular-tour {
    padding-top: 100px;
}

.left-text {
    margin-right: 53px;
}

.left-text h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.left-text p {
    margin-bottom: 24px;
}

.left-text p,
.left-text ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.left-text ul li {
    margin-bottom: 16px;
}

.left-text button {
    padding: 14px 34px;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
}

/* popular-tour end */

/* footer start */
footer {
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 0;
}

footer .logo {
    margin-bottom: 15px;
}

footer p {
    width: 60%;
    margin: auto;
    margin-bottom: 33px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.social-media i {
    margin-right: 20px;
    font-size: 20px;
}

.fa-brands {
    margin-right: 0;
}

hr {
    margin: 50px 0;
    color: rgba(19, 19, 24, .4);
}

#footer-text {
    color: #131318;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

/* footer end */